<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184640423742-la60eols1528bofonv0qgf0s3251erdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184640423742-la60eols1528bofonv0qgf0s3251erdf</string>
	<key>API_KEY</key>
	<string>AIzaSyAGzxChVXB3CwhJTlKjtDH8ox9Zk0mrnk8</string>
	<key>GCM_SENDER_ID</key>
	<string>184640423742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arabami.sat</string>
	<key>PROJECT_ID</key>
	<string>arabamisat-e8b61</string>
	<key>STORAGE_BUCKET</key>
	<string>arabamisat-e8b61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184640423742:ios:3ff60fcba751bb54eb4e6f</string>
</dict>
</plist>